body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(19, 19, 19);
}
h1 {
    text-align: center;
    color: white;
    font-size: 100px;
    margin: 10px;
}
label{
    display: block;
}
section div{
    margin: 10px auto;
    background-color: rgb(194, 194, 194);
    width: 500px;
    color: rgb(19, 19, 19);;
    padding: 30px;
    border-radius: 20px;
}
section #CalcForm{
    margin: 30px auto;
    background-color: rgb(194, 194, 194);
    width: 500px;
    color: rgb(19, 19, 19);;
    padding: 30px;
    border-radius: 20px;
}

.range input, .range span{
    display: inline;
}

